@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
.add-sale{
    margin: 2% auto;
    width: 40%;
}

.card-title{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
.card-body {
    font-family: 'Roboto Slab', serif;
  }


